/.DS_Store
/data/.DS_Store
/data_wrangling_json/.DS_Store
/data_wrangling_json/.ipynb_checkpoints
/EDA_human_temperature/.DS_Store
/EDA_human_temperature/.ipynb_checkpoints
/EDA_racial_discrimination/.DS_Store
/EDA_racial_discrimination/.ipynb_checkpoints
/hospital_readmit/.DS_Store
/hospital_readmit/.ipynb_checkpoints
/ultimate_challenge/logins.json
/ultimate_challenge/riders.json
/ultimate_challenge/.DS_Store
/ultimate_challenge/.ipynb_checkpoints
